# Ignore all
*

# Unignore all with extensions
!*.*
!**/Dockerfile
!**/Makefile

# Unignore all dirs
!*/
!api
.vscode
.idea
pro.yaml
config.yaml
**/.DS_Store
**/logs

# gitlab ci
.cache

# vim auto backup file
*~
!OWNERS
