token: <github token>
repo: <github repo like zeromicro/go-zero>
pageSize: <page size, default 100>
lark:
  appId: <app id>
  appSecret: <app secret>
  receiver: <receiver's lark UserID>
  receiver_email: <receiver's lark Email>
lark_webhook:
  url: <the webhook url for the robot>
slack:
  token: <oauth token>
  channel: <channel>
comparisons:
  - cli/cli
